@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ffa31a,	#292929)
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

.calculator-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto)repeat(5, 100px);
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 0.5px solid #ffffff;
  outline: none;
  background-color: rgba(255, 255, 255, .50);
}
.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .75);
}

.span-two {
  grid-column: span 2;
}
.output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .50);
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output > .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 2.5rem;
}
.output > .current-operand {
  color: white;
  font-size: 2.5rem;
}